body {
    flex-direction: column;
}

#editor_content {
    font-size: larger;
    width: 90%;
    margin: 1em;
    padding: 0.2em;
    border: solid red 1px;
    font-size: medium;
}

#word-counter {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.8em;
    margin: 0.2em;
    color: black;
    background-color: lightgray;
}